@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
  margin: 0;
  height: 100%;
}
/* ----------------------- OUTLINE */
/* {
  outline: 1px dotted red;
}
/* ----------------------- OUTLINE */
#nav {
  position: fixed;
  width: 100%;
  background-color: white;
  /*background-color: rgba(236,240,241, 0.4);*/
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;
}

#nav a:hover:not(.active) {
  background-color: rgb(236,240,241);

}

#linksContainer {
  height: 25px;
  width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#links a {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 70px;
  margin-right: 70px;
}

#header {
  background-color: #ECF0F1;
  padding-top: 50px;
}

#headerExternal{
  margin-top: 5px;
 border-top: 3px solid black;
}

#headerContainer{
  height: 580px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;

}

#storeHeader {
  background-color: #ECF0F1;
  padding-top: 50px;
}

#storeHeaderExternal{
  margin: 0px;
  border-top: 3px solid black;
}

#storeHeaderContainer{
  height: 240px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;
}

#storelogo {
  width: 960px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#storeLogoText {
  width: 600px;
  letter-spacing: -0.75px;
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.galleryContainer {
  width: 960px;
  height: 1520px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.galleryImages div {
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #b3b3b3;
  height: 50px;
  border-top: 5px solid #8c8c8c;
  font-size: 1rem;
  color: #ffffff;
}

.modalContainer {
  position: fixed;
  background-color: #ffff;
  width: 70%;
  max-width: 400px;
  left: 50%;
  padding: 20px;
  border-radius: 3px;

<<<<<<< HEAD
  -webkit-transform: translate(-300px, -3000px);
  -ms-transform: translate(-300px, -3000px);
  transform: translate(-300px, -3000px);
=======
  -webkit-transform: translate(-220px, -5000px);
  -ms-transform: translate(-220px, -5000px);
  transform: translate(-220px, -5000px);
>>>>>>> origin/master

  -webkit-transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
}

.modal:before {
  content: "";
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal:target::before {
  display: block;
}

.modal:target .modalContainer {
  top: 80%;

  -webkit-transform: translate(-70%, -100%);
  -ms-transform: translate(-70%, -100%);
  transform: translate(-70%, -100%);
}

# modalClose {}
