@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
  margin: 0;
  height: 100%;
}
/* ----------------------- OUTLINE */
/* {
  outline: 1px dotted red;
}
/* ----------------------- OUTLINE */
.header {
  background-color: #ffffff;
  height: 70px;
  border-bottom: 3px solid #283950;
}

.nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.logo {
  position: fixed;
  float: left;
  margin-top: 15px;
  margin-left: 450px;
}

.links {
  float: right;
  margin-top: 35px;
  font-size: 0.75rem;
  color: #4b4e61;
}

.links a {
  color: #000000;
  text-decoration: none;
  padding: 0 10px;
}

.banner {
  background-color: white;
  text-align: center;
  border-bottom: 5px solid #000000;
  padding: 5px 0;
}

.pyramid {
  max-width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.store {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#galleryContainer {
  width: 960px;
  height: 1520px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#galleryImages div {
  width: 400px;
  height: 500px;
  float: left;
  margin-left: 50px;
  margin-bottom: 50px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #b3b3b3;
  height: 50px;
  border-top: 5px solid #8c8c8c;
  font-size: 1rem;
  color: #ffffff;
}
