@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: white;
  margin: 0;
  height: 100%;
}
/* ----------------------- OUTLINE */
* {
  outline: 1px dotted red;
}
/* ----------------------- OUTLINE */

#nav {
  position: fixed;
  width: 100%;
  background-color: white;
  /*background-color: rgba(236,240,241, 0.4);*/
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;
}

#nav a:hover:not(.active) {
  background-color: rgb(236,240,241);

}

#linksContainer {
  height: 25px;
  width: 960px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#links a {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 70px;
  margin-right: 70px;
}
#header {
  background-color: #ECF0F1;
  padding-top: 50px;
}
#headerExternal
{
  margin-top: 5px;
 border-top: 3px solid black;

}
#headerContainer{
  height: 580px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;

}
#logo {
  width: 960px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
#logoNameContainer {
  font-family: 'Maven Pro';
  font-weight: 700;
  width: 960px;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
#logoNameContainer h3
{
width: 600px;
letter-spacing: -0.75px;
margin: 0;
margin-left: auto;
margin-right: auto;

}
#pyramid {
  max-width: 960px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#pyramid p {
    margin-top: 10px;

}
#banner {
  width: 960px;
  height:700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#bannerSlide {
  width: 100%;
  max-width: 960px;
  max-height: 600px;
  text-align: center;
}
#postContainer {
  height: 200px;
}
#shopButtonContainer{
  width: 960px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
#shopButtonContainer a{
 color: white;
 text-decoration: none;
}
#shopButtonIndex {
  background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 896px;
}

#aboutHeader {
  background-color: #ECF0F1;
  padding-top: 50px;
}
#aboutHeaderExternal
{
  margin: 0px;
  border-top: 3px solid black;

}
#aboutHeaderContainer{
  height: 240px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;

}
#aboutlogo {
  width: 960px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
#aboutLogoText {
  width: 600px;
  letter-spacing: -0.75px;
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#profilesContainer {
  width: 960px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin-top: 30px;
  padding-top: 20px;
  background-color: #ECF0F1;
}
#profilesContainer h2 {
  text-align: center;
  width: 490px;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}

#profileImages{
  width: 490px;
  height: 225px;
  margin-left: auto;
  margin-right: auto;
}
#profileImages div {
  width: 150px;
  height: 200px;
  float: left;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  border: 1.5px solid #000000;
}
#profileInfo {
  width: 490px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#profileInfo h3 {
  width: 150px;
  height: 25px;
  float: left;
  margin-left: 10px;
  margin-top: 0;
  text-align: center;
}
#profileInfo p {
  width: 150px;
  height: 200px;
  float: left;
  margin-left: 10px;
  margin-top: 0;
  text-align: left;
}

#contactHeader {
  background-color: #ECF0F1;
  padding-top: 50px;
}
#contactHeaderExternal
{
  margin: 0px;
  border-top: 3px solid black;

}
#contactHeaderContainer{
  height: 240px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid black;

}
#contactlogo {
  width: 960px;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
#contactLogoText {
  width: 600px;
  letter-spacing: -0.75px;
  margin: 0;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#footerContainer {
  background-color: #4d4b4b;
  border-top: 2px solid #000000;
  margin-top: 80px;
}
#footer {
  height: 20px;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 982px) {
  #linksContainer {
    height: 25px;
    text-align: center;
    font-size: 1rem;
  }

  #links a {
    color: black;
    text-decoration: none;
  }

  #footerContainer {
    background-color: #4d4b4b;
    border-top: 2px solid #000000;
    margin-top: 80px;
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #footer {
    height: 20px;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
  }

}
